@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500&display=swap");
* {
	font-family: "Roboto", sans-serif;
	--bg-main-clr: rgb(236, 231, 230);
	--bg-accent-clr: rgb(250, 247, 245);
	--text-clr: rgb(37, 37, 35);
	/* outline: 1px dashed rgb(239, 86, 30); */
}

body {
	display: grid;
	place-items: center;
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: var(--bg-main-clr);
	color: var(--text-clr);
	min-height: 90vh;
}

.wrapper {
	margin: 0 auto;
	border-radius: 0.2rem;
	border: 1px solid black;
	background-color: var(--bg-accent-clr);
	min-width: 341px;
	text-align: center;
	position: relative;
}
.wrapper::before,
.wrapper::after {
	border-radius: 0.2rem;
	border: 1px solid black;
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
}
.wrapper::before {
	right: 0.4rem;
	top: 0.4rem;
	z-index: -2;
}
.wrapper::after {
	right: 0.8rem;
	top: 0.8rem;
	z-index: -1;
}

.top_head {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 0.5rem 0;
}

#form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0 0.8rem;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
#form label {
	text-align: left;
	font-size: 0.7rem;
	font-weight: bold;
	padding-top: 0.8rem;
}
#form input {
	background-color: transparent;
	border-style: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 0.5rem;
	height: 16px;
	color: inherit;
	font-size: 1.2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

button {
	margin: 2rem 0;
	padding: 0.5rem 1rem;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	-ms-flex-item-align: center;
	align-self: center;
	font-size: 1.4rem;
	border: 1px solid rgba(0, 0, 0, 0.4);
	color: inherit;
	background: transparent;
	transition: background 0.4s ease-in-out;
}
button:hover,
button:focus {
	-webkit-transform: scale(1.1);
	transform: scale(1.03);
	background: var(--bg-main-clr);
}

.result_cont {
	width: 80%;
	min-height: 100px;
	margin: 1.5rem auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 2rem;
	font-weight: bold;
}

.result {
	position: relative;
}
.result:before,
.result:after {
	position: absolute;
	font-size: 0.8rem;
	color: rgba(234, 117, 15, 0.947);
}

.result:before {
	content: " VNĐ ";
	left: -33px;
}
.result:after {
	content: " /năm ";
	top: 18px;
	right: -37px;
}
